*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #142f43;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
}

.tela {
    padding: 0;
    border: 5px solid white;
    width: 100vw;
    height: 100vh;
}
/* px: Tamanho fixo.
%: Proporcional ao pai.
vh/vw: Proporcional à tela.
em: Relativo ao pai.
rem: Relativo ao <html>.*/
.card {
    border: 2px solid yellow;
    width: 25%;
    height: 25%;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.conteudo {
    padding-left: 20px;
    font-size: 32px;
}

/* textos */
.normal {
    font-size: 1em;
}

.duplo {
    font-size: 2em;
}

.triplo {
    font-size: 3em;
}

.botao {
    background-color: #ffcc00;
    color: #990000;
    font-size: 30px;
    border-radius: 0.3em;
    padding: 0.3em 0.6em; /* 10px em cima e embaixo, 20px nas laterais */;
    margin-left: 20px;

}