body {
  background-color: #e0e7ee;
  font-family: Roboto;
}

.interrompe-float{
  clear: both;
}

.card-filme {
  background-color: #fff;
}

.filme-titulo {
  font-family: Roboto;
  size: 40px;
  color: #2c3e50;
}

.filme-titulo span {
  color: #7f8c8d;
  font-weight: 300;
}

.poster {
  width: 300px;
  img {
    width: 300px;
    border-radius: 8px;
    transition: border-radius 0.5s ease;
    float: left;
  }

  .poster img{
    width: 300px;
    border-radius: 8px;
    transition: 0.5s ease;
  }

  .poster img:hover{
    transform: scale(1.05);
  }

  img:hover {
    border-radius: 50px;
  }
}

.filme-info{
  float: left;
  margin-left: 30px;

}

.avaliacao {

}

.estrelas {
    img {
        width: 24px;
        margin-right: 5px;
    }

    span {
        font-weight: 700;
        font-size: 20px;
        color: #f39c12;
        margin-left: 10px;
    }
}

.generos {

}

.genero {
    display: inline-block;
    border: 1px solid #333;
    background-color: rgba(52, 72, 94, 0.2);
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 15px;
}

.botao-trailer {
    display: inline-block;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.3);
    transition: background-color 0.5s ease;
    span {
        margin-right: 10px;
    }
}

.botao-trailer:hover {
    background-color: #CC0000;
}

.straming-icone img{
    width: 70px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.site{
  width: 1000px;
  margin: 0 auto;
}

.card-filme{
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0, 0.5);
  box-shadow: 0 10px 30px rgba(0,0,0, 0.15);
}

.filme-topo{
  /* background: linear-gradient(32deg, white,#a7afad); */
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)), url("./images/gigantao.webp");
  background-size: cover;
  background-position: center center;
  padding: 20px;
  border-radius: 12px;
}

.streaming-icones {
  float: left;
}
.streaming{
  margin-top: 40px;
}

.streaming-icone img{
  width: 70px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.streaming-icone img:hover{
  transform: scale(1.15);
}

/*filme corpo*/

.filme-corpo{
  padding: 20px;
}


/*elenco*/

.elenco{
  
}

.elenco_membro{
  float: left;
  width: calc(100% / 4 - 20px);
  margin: 10px;
  text-align: center; /* alinha o conteudo ao centro */
}

.elenco_membro img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* garante que a imagem preencha o espaço */
  box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
  transition: transform 0.8s ease;
}

.elenco_membro:hover img{
  transform: scale(1.15) rotate(360deg) translateY(-10px); /* animação de rotação e translação */
}

.elenco_membro p {
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 5px;
}

.elenco_membro span{
  font-size: 14px;
  color: #7f8c8d;
}